---
layout: default 
title: Projects
---

<div id="home">
    <h2>
        <i class="fas fa-coffee"></i> Projects</h2>
    <p>Here is a list of some freelance and side projects I've worked on in a non-trivial capacity. If you have any questions
        about a particular project, please feel free to send me an e-mail.</p>
    <div id="blog-posts" class="posts">
        {% for project in site.data.projects %}

        <h3>{{ project.name }} -
            <span class="project-date">{{project.product_short_description}}</span>
        </h3>
        <h6 class="project-subtitle">{{project.date}} - {{project.role}}</h6>

        <section id="photos">
            {% for image in project.images %}
            <img src="/assets/images/projects/{{ image }}">
            {% endfor %}
        </section>

        <p class="project-description">{{project.product_long_description}}</p>

        {% for tag in project.stack %}
        <span class="tech-tag">{{tag}}</span>
        {% endfor %}
        <hr> {% endfor %}

    </div>
</div>