---
layout: default 
title: Projects
---

<script
			  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
              crossorigin="anonymous"></script>
              
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<div id="home">
    <h2>
        <i class="fas fa-coffee"></i> Projects</h2>
    <p>Here is a list of some freelance and side projects I've worked on in a non-trivial capacity. If you have any questions
        about a particular project, please feel free to send me an e-mail.</p>

        <div class="projects">

            <h2>Web Applications</h2>
            <div class="web-apps grid">
                {% assign projects = site.data.projects | where_exp: "project","project.type contains 'Web'" %}
                
                {% for project in projects %}

                <div class="item">
                    <a href="#{{ project.logo | remove: ".png" }}" rel="modal:open">
                    <div class="image" style="background-image: url(/assets/images/projects/{{ project.logo }});" ></div>
                    </a>
                    <h4>{{ project.name }}</h4>
                    <span class="project-date">{{project.product_short_description}}</span>

                    <div>
                    {% for tag in project.stack %}
                        <span class="tech-tag">{{tag}}</span>
                        {% endfor %}
                    </div>

                    
                </div>      

                {% endfor %}
            </div>

            <hr>

            <h2>Mobile Applications</h2>
            <div class="web-apps grid">
                    {% assign projects = site.data.projects | where_exp: "project","project.type contains 'Mobile'" %}
                {% for project in projects %}

                <div class="item">
                    <a href="#{{ project.logo | remove: ".png" }}" rel="modal:open">
                    <div class="image" style="background-image: url(/assets/images/projects/{{ project.logo }});" ></div>
                    </a>
                    <h4>{{ project.name }}</h4>
                    <span class="project-date">{{project.product_short_description}}</span>
                </div>      

                {% endfor %}
            </div> 

            <hr>

            <h2>Games & More</h2>
            <div class="web-apps grid">
                {% assign projects = site.data.projects | where_exp: "project","project.type contains 'Other'" %}
                {% for project in projects %}

                <div class="item">
                    <a href="#{{ project.logo | remove: ".png" }}" rel="modal:open">
                    <div class="image" style="background-image: url(/assets/images/projects/{{ project.logo }});" ></div>
                    </a>
                    <h4>{{ project.name }}</h4>
                    <span class="project-date">{{project.product_short_description}}</span>
                </div>      

                {% endfor %}
            </div>
        </div>
</div>

{% for project in site.data.projects %}
<div id="{{ project.logo | remove: ".png"}}" class="modal">
    <h2 style="margin-bottom: 0;">{{project.name}} - <small>{{ project.date}} </small></h2>
    <p style="margin-bottom: 10px;"><small>{{project.role}}</small></p><br/>
    <p>{{project.product_long_description}}</p>
    {% for image in project.images %}
        <img style="width: 90%; padding: 10px;" src="/assets/images/projects/{{image}}">
    {% endfor %}
</div>
{% endfor %}
